<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer">
        <div class="footer-container">
            <a class="footer-item" th:href="@{/minhas-solicitacoes}">
                <img th:src="@{/images/solicitacoes.png}" alt="Minhas Solicitações">
                <p class="texto-footer">Minhas Solicitações</p>
            </a>
            <a class="footer-item" th:href="@{/nova-solicitacao}">
                <img th:src="@{/images/criarSolicitacoes.png}" alt="Criar Solicitações">
                <p class="texto-footer">Criar Solicitações</p>
            </a>
            <a class="footer-item" th:href="@{/carteira}">
                <img th:src="@{/images/carteira.png}" alt="Carteira">
                <p class="texto-footer">Carteira</p>
            </a>
        </div>
    </footer>
</body>
</html>

