<div class="menu-container" th:fragment="menu-hamburguer" xmlns:th="http://www.thymeleaf.org">
    <div class="hamburger" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="menu" id="menu">
        <a class="btn-menu" th:href="@{/perfil}">
            <img class="foto-perfil" th:if="${fotoPerfilBase64 != null}"
                 th:src="${'data:image/*;base64,' + fotoPerfilBase64}"
                 alt="Foto perfil">
            <img class="foto-perfil" th:unless="${fotoPerfilBase64 != null}"
                 th:src="@{/images/foto perfil.png}"
                 alt="Foto perfil">
        </a>
        <p class="texto-menu">Olá, <span th:text="${cadastro != null ? cadastro.nomeUsuaria : #authentication.principal.nomeUsuaria}"></span>!</p>
        <a th:href="@{/feed}">
            <img th:src="@{/images/icone-home.svg}" alt="ícone de casa">
            <p class="texto-menu">Início</p>
        </a>
        <a th:href="@{/nova-solicitacao}">
            <img th:src="@{/images/icone-minha-soli.svg}" alt="ícone de nova solicitação">
            <p class="texto-menu">Nova Solicitação</p>
        </a>
        <a th:href="@{/minhas-solicitacoes}">
            <img th:src="@{/images/icone-minha-soli.svg}" alt="ícone de minhas solicitações">
            <p class="texto-menu">Minhas Solicitações</p>
        </a>
        <a class="itens-burguer" th:href="@{/pesquisa}">
            <img th:src="@{/images/icone-lupa.svg}" alt="ícone de lupa">
            <p class="texto-menu">Pesquisa</p>
        </a>
        <a th:href="@{/carteira}">
            <img th:src="@{/images/icone-carteira.svg}" alt="ícone de carteira">
            <p class="texto-menu">Carteira</p>
        </a>
        <a th:href="@{/tornar-prestadora}">
            <img th:src="@{/images/icone-tornar.svg}" alt="ícone de tornar prestadora">
            <p class="texto-menu">Tornar Prestadora</p>
        </a>
        <a th:href="@{/suporte}">
            <img th:src="@{/images/icone-suporte.svg}" alt="ícone de suporte">
            <p class="texto-menu">Suporte</p>
        </a>
        <a th:href="@{/avaliacoes}">
            <img th:src="@{/images/icone-avaliacao.svg}" alt="ícone de avaliação">
            <p class="texto-menu">Avaliações</p>
        </a>
        <a th:href="@{/ajuda}">
            <img th:src="@{/images/icone-ajuda.svg}" alt="ícone de ajuda">
            <p class="texto-menu">Ajuda</p>
        </a>

        <!-- Logout (POST) -->
        <form th:action="@{/logout}" method="post" class="logout-form" th:if="${#authentication?.principal != null}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="logout-button">
                <img th:src="@{/images/buttons/logout.png}" alt="ícone de sair">
                <span class="texto-menu">Sair</span>
            </button>
        </form>
    </div>
</div>
