@import url(./geral.css);
@import url(./style-cabecalho.css);
@import url(./style-rodape.css);
@import url(./resposividade.css);

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-botao);
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.btn-atual {
    background-color: var(--cor-hover);
}

.texto {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    margin-top: .2rem;
}

.subtitulo{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem 3rem;
}

.lista-loja {
    margin-top: 8%;
}

.linha, .linha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}

.linha {
    background-color: var(--cor-botao);
    margin-bottom: .2rem;
}

.linha2 {
    margin: 0 15%;
    align-items: center;
}

.quantidade {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    padding: .2rem 0;
}

.btn-acao {
    background-color: transparent;
    border: none;
}

.btn-carrinho {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
}

.adicionar, .valor-coins, .texto-itens {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linha-pack {
    justify-content: center;
    text-align: center;
}

.itens-loja-pack {
    margin: 1rem 0;
}