@import url(./geral.css);

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.ancora {
    text-decoration: none;
    color: #000000;
}

.btn_entrar {
    background-color: var(--cor-botao);
    padding: 10px 100px;
    border-radius: 5px;
    margin-top: 20px;
}

.btn_entrar:hover {
    cursor: pointer;
    background-color: var(--cor-hover);
}

.titulo {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.login {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.campo_login {
    border: var(--cor-botao);
    margin-bottom: 15px;
    width: 240px;
    height: 30px;
    
}

.btn_esqueci {
    margin: 15px 0 5% 0;
}
