.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.menu-container {
    position: relative;
    padding: 3%;
}

.hamburger {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
}

.hamburger div {
    background-color: #333;
    height: 4px;
    margin: 6px 0;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--cor-botao);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    width: 220px; /* Ajuste conforme necessário */
    padding: 10px; /* Adiciona um espaçamento interno */
}

.menu a {
    background-color: var(--cor-botao);
    font-family: "Roboto", sans-serif;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left; /* Alinha todo o conteúdo à esquerda */
    white-space: nowrap; /* Evita quebra de linha */
}

.menu a img {
    display: inline-block;
    vertical-align: middle;
    width: 35px; /* Aumenta o tamanho dos ícones */
    height: auto; /* Mantém a proporção */
    margin-right: 10px; /* Espaço entre o ícone e o texto */
}

.menu a p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 16px; /* Ajusta o tamanho do texto */
}


.menu a:hover {
    background-color: var(--cor-hover);
}

.img {
    width: 300px;
    
}

.chat {
    margin-right: 6px;
}

.foto-perfil {
    border-radius: 100%;
    background-color: var(--cor-fonte);
    width: 80%;
    justify-self: center;
}

.nome-perfil {
    margin: 0;
    padding: 0;
}

.img_logo {
    width: 10rem;
    margin: 0 auto;
}

