<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">

<head>
    <title>Ajuda</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/style-ajuda.css}">
    </th:block>
</head>

    <main layout:fragment="content">

    <div class="container">    

        <h1 class="titulo">Ajuda</h1>        
        <label for="campo-pesquisa" class="sr-only">Pesquisar dúvida</label>
        <input class="campo-pesquisa" type="text" id="campo-pesquisa" placeholder="Pesquise sua dúvida...">
                
        <div id="lista">            
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">O que é um FAQ?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">FAQ significa "Perguntas Frequentes". É uma lista de perguntas e respostas sobre um determinado assunto.</p>            
            </div>
            
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Como posso redefinir minha senha?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Para redefinir sua senha, vá até a página de login e clique em "Esqueci minha senha". Siga as instruções enviadas para seu e-mail.</p>            
            </div>            
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Posso alterar meu e-mail?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Sim, você pode alterar seu e-mail nas configurações da sua conta.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">O que é o nosso serviço?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Nosso serviço oferece uma plataforma para conectar usuários a prestadores de serviços qualificados em diversas áreas, facilitando a solicitação e acompanhamento de serviços.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Como posso criar uma conta?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Para criar uma conta, clique em "Registrar" na página inicial, preencha suas informações e siga as instruções enviadas para seu e-mail para verificar sua conta.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">É gratuito utilizar a plataforma?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Sim, criar uma conta e navegar pela plataforma é totalmente gratuito. No entanto, alguns serviços podem ter taxas associadas.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Como posso redefinir minha senha?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Clique em "Esqueci minha senha" na página de login e siga as instruções enviadas para seu e-mail para redefinir sua senha.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">O que faço se encontrar um problema com um serviço?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Se você tiver problemas com um serviço, entre em contato com nosso suporte ao cliente através da seção "Suporte" no site.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Posso avaliar os prestadores de serviços?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Sim, após a conclusão de um serviço, você poderá deixar uma avaliação e comentários sobre sua experiência com o prestador.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Quais métodos de pagamento são aceitos?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Aceitamos pagamentos via cartão de crédito, débito e algumas opções de pagamento online. As opções podem variar de acordo com o prestador de serviços.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Como posso entrar em contato com o suporte?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Você pode entrar em contato com nossa equipe de suporte através da seção "Contato" no site ou enviando um e-mail para famfacul@gmail.com.</p>
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Posso cancelar um serviço após a solicitação?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Sim, você pode cancelar um serviço dentro de um prazo determinado. Verifique nossa política de cancelamento para mais detalhes.</p>            
            </div>
        
            <div class="item">                
                <div class="item-pergunta">            
                    <h2 class="pergunta">Como posso atualizar minhas informações de conta?</h2>            
                    <img class="icone-seta" th:src="@{/images/seta-down.png}" alt="seta para baixo">
                </div>
                <p class="resposta">Para atualizar suas informações, faça login em sua conta, vá até "Configurações" e edite as informações que deseja alterar.</p>            
            </div>
        </div>
         
    </div>

    </main>

    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/scripts/ajuda.js}"></script>
    </th:block>

</html>
