<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">

<head>
    <title>Loja</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/style-loja.css}">
    </th:block>
</head>

<body>
<main layout:fragment="content">
    <section class="secao">
        <h1 class="titulo">Loja SOSYSTERS</h1>

        <div class="container">
            <a class="btn" th:href="@{/carteira}">
                <img th:src="@{/images/icone-saldo.svg}" alt="Icone de saldo" class="icone">
                <p class="texto">Saldo</p>
            </a>
            <a class="btn btn-atual" th:href="@{/loja}">
                <img th:src="@{/images/icone-loja.svg}" alt="icone de loja" class="icone">
                <p class="texto">Loja virtual</p>
            </a>
            <a class="btn" th:href="@{/historico}">
                <img th:src="@{/images/icone-historico.svg}" alt="Icone de histórico de compras" class="icone">
                <p class="texto">Histórico</p>
            </a>
        </div>

        <h6 class="subtitulo">Comprar Mcoins</h6>

        <ul class="lista-loja">
            <li class="itens-loja">
                <div class="linha">
                    <div class="quantidade">
                        <img th:src="@{/images/icone-saldo.svg}" alt="icone Mcoins">
                        <p class="quant texto-itens">1</p>
                    </div>
                    <div class="botoes">
                        <button class="btn-acao rem">
                            <img th:src="@{/images/icone-menos.svg}" alt="Icone de subtração">
                        </button>
                        <button class="btn-acao add">
                            <img th:src="@{/images/icone-mais.svg}" alt="Icone de adição">
                        </button>
                    </div>
                </div>

                <div class="linha2">
                    <button class="btn-carrinho">
                        <img th:src="@{/images/icone-carrinho.svg}" alt="Icone carrinho">
                        <p class="adicionar">adicionar ao carrinho</p>
                    </button>
                    <p class="valor-coins calc">R$ 5,00</p>
                </div>
            </li>

            <h6 class="subtitulo">Pacotes</h6>

            <li class="itens-loja">
                <div class="linha linha-pack">
                    <div class="quantidade">
                        <p class="quantidade texto-itens texto-pack">50 Mcoins</p>
                    </div>
                </div>

                <div class="linha2">
                    <button class="btn-carrinho">
                        <img th:src="@{/images/icone-carrinho.svg}" alt="Icone carrinho">
                        <p class="adicionar">adicionar ao carrinho</p>
                    </button>
                    <p class="valor-coins">R$ 100,00</p>
                </div>
            </li>

            <li class="itens-loja-pack">
                <div class="linha linha-pack">
                    <div class="quantidade">
                        <p class="quantidade texto-itens texto-pack">100 Mcoins</p>
                    </div>
                </div>

                <div class="linha2">
                    <button class="btn-carrinho">
                        <img th:src="@{/images/icone-carrinho.svg}" alt="Icone carrinho">
                        <p class="adicionar">adicionar ao carrinho</p>
                    </button>
                    <p class="valor-coins">R$ 180,00</p>
                </div>
            </li>

            <li class="itens-loja-pack">
                <div class="linha linha-pack">
                    <div class="quantidade">
                        <p class="quantidade texto-itens texto-pack">200 Mcoins</p>
                    </div>
                </div>

                <div class="linha2">
                    <button class="btn-carrinho">
                        <img th:src="@{/images/icone-carrinho.svg}" alt="Icone carrinho">
                        <p class="adicionar">adicionar ao carrinho</p>
                    </button>
                    <p class="valor-coins">R$ 250,00</p>
                </div>
            </li>
        </ul>
    </section>
</main>
</body>
</html>
