<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">

<head>
    <title>Minhas Solicitacoes</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/style-minhas-sol.css}">
    </th:block>
</head>

<body>
<main layout:fragment="content">

    <section class="secao texto">
        <h2 class="titulo texto">Minhas Solicitações</h2>

        <div class="button-container">
            <button class="botao" data-filter="finalizados">Finalizados</button>
            <button class="botao" data-filter="pendentes">Pendentes</button>
            <button class="botao" data-filter="cancelados">Cancelados</button>
            <button class="botao" data-filter="todos">Todos</button>
        </div>

        <ul class="lista-solicitacoes">
            <li class="itens"
                th:each="sol : ${solicitacoes}"
                th:classappend="${sol.status() == 'pendente' ? 'pendentes' : sol.status() == 'finalizado' ? 'finalizados' : 'cancelados'}">
                <div class="cabecalho-solicitacao">
                    <p class="nome-solicitacao">Solicitação <span th:text="${#strings.capitalize(sol.status())}">Pendente</span></p>
                    <img class="icone-status"
                         th:src="@{${sol.status() == 'pendente' ? '/images/icone-pendente.svg' : sol.status() == 'finalizado' ? '/images/icone-confirmado.svg' : '/images/icone-cancelado.svg'}}"
                         th:alt="${sol.status()}">
                </div>
                <div class="descricao-solicitacao">
                    <h3 class="sol-titulo" th:text="${sol.titulo()}">Serviço</h3>
                    <img th:src="@{${sol.imagem()}}" th:alt="${sol.titulo()}" class="imagem-descricao">
                    <p class="sol-descricao" th:text="${sol.descricao()}">Descrição do serviço.</p>
                </div>
            </li>
        </ul>

    </section>
</main>

<th:block layout:fragment="scripts">
    <script type="text/javascript" th:src="@{/scripts/minhas-solicitacoes.js}"></script>
</th:block>
</body>

</html>
