<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{components/layout}">

<head>
    <title>Perfil</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/style-perfil.css}">
    </th:block>
</head>
<body>
    <main layout:fragment="content">
        <p class="mensagem-flash" th:if="${mensagem}" th:text="${mensagem}"></p>
        <section class="secao">
            <div class="perfil">
                <img class="foto-perfil" th:src="@{/images/foto perfil.png}" alt="Foto do usuário">
                <h2 class="nome-usuario" th:text="${cadastro.nomeUsuaria} + ' ' + ${cadastro.sobrenomeUsuaria}">Maria Silva</h2>
                <p class="profissao" th:text="${cadastro.nomeSocialUsuaria != null and !#strings.isEmpty(cadastro.nomeSocialUsuaria) ? cadastro.nomeSocialUsuaria : 'Pintora'}">Pintora</p>

                <div class="avaliacao">
                    <span class="estrela" data-valor="1">★</span>
                    <span class="estrela" data-valor="2">★</span>
                    <span class="estrela" data-valor="3">★</span>
                    <span class="estrela" data-valor="4">★</span>
                    <span class="estrela" data-valor="5">★</span>
                </div>

                <p class="nota">Avaliação: <span id="nota-media">0.0</span>/5</p>
            </div>
        </section>

        <section>
                <div class="opcao">
                <a th:href="@{/trocar-senha}">Alterar senha</a>
                <a href="#">Notificações</a>
                <a href="#">Pagamentos</a>
                <a th:href="@{/meu-cadastro}">Meu Cadastro</a>
                <a th:href="@{/}">Sair</a>
            </div>
        </section>

        <script type="text/javascript" th:src="@{/scripts/perfil.js}"></script>
    </main>
</body>
</html>
