<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout}">

<head>
    <title>Pesquisa</title>
    <th:block layout:fragment="head">
        <link rel="stylesheet" th:href="@{/css/style-pesquisa.css}">
    </th:block>
    </head>

<body>
    <main layout:fragment="content">
        <div class="container">
            <h1 class="titulo">Lista de Serviços</h1>
            <p th:if="${mensagem}" th:text="${mensagem}"></p>

            <!-- Campo de Pesquisa -->
            <div class="search-container">
                <input type="text" id="search" placeholder="Pesquise por um serviço...">
            </div>

            <!-- Botões de Filtros -->
            <div class="filter-container">
                <button class="filter-btn" data-filter="all">Todos</button>
                <button class="filter-btn"
                        th:each="categoria : ${categoriasPesquisa}"
                        th:if="${categoria != 'all'}"
                        th:attr="data-filter=${categoria}"
                        th:text="${#strings.capitalize(categoria)}">
                </button>
            </div>

            <!-- Lista de Serviços -->
            <ul class="service-list" id="serviceList">
                <li class="service-item"
                    th:each="item : ${solicitacoesPesquisa}"
                    th:attr="data-category=${item.categoria}">
                    <img th:src="@{${item.imagem}}" th:alt="${item.titulo}">
                    <div class="caixa">
                        <h3 th:text="${item.titulo}">Servico</h3>
                        <p th:text="${item.descricao}">Descricao do servico.</p>
                    </div>
                </li>
            </ul>
        </div>
    </main>

    <th:block layout:fragment="scripts">
        <script type="text/javascript" th:src="@{/scripts/pesquisa.js}"></script>
    </th:block>
</body>
</html>
