@import url(./geral.css);
@import url(./style-cabecalho.css);
@import url(./style-rodape.css);
@import url(./resposividade.css);

.titulo {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-botao);
    width: 5rem;
    height: 5rem;
    margin: 1.5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.btn-atual {
    background-color: var(--cor-hover);
}

.icone {
    margin-bottom: .2rem;
}

.texto {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    margin-top: .2rem;
}

.subtitulo{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-top: 3rem;
}

.itens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2% 5%;
    align-items: center;
}

.texto-itens {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.valor-mcoins, .valor-dinheiro {
    background-color: var(--cor-botao);
    width: 6rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 700;
    padding: .5rem;
    text-align: end;
    margin-left: 4rem;
}

.btn-mostrar {
    background-color: transparent;
    border: none;
}
